body
{
	color: #fff !important;
	background: none !important;
}

.kv8eNc, .yJa, .Mza, .DJa, .uPa, .tvb
{
	/* For debugging. */
	/* background-color: #1b1b1b !important; */
	background: none !important;
}

.DJa
{
	background: none !important;
	color: #fff !important;
}

.ve.oba, .dn, .Aq
{
	color: #666 !important;
}

/* Comment score */
.bmd
{
	color: #999 !important;
}

/* Commenter name + Show Recent Button */
.Ub, .LEa
{
	color: #ccc !important;
}

/* Special commenters */
.Kgb, .Y8b .TD
{
	background-color: #383838 !important;
}

.proflink, .ot-hashtag
{
	color: #888 !important;
}

.ot-hashtag, .proflink, .proflinkPrefix
{
	color: #666;
	-webkit-transition:color .218s;
	transition:color .218s
}

/* Like/Dislike comment buttons */
.LJa {
	background-position: 0 -235px;
}
.MJa {
	background-position: 0 -88px;
}
.MJa:hover {
    background-position: 0 -154px;
}
.LJa:hover {
    background-position: 0 -136px;
}

/* Show More Button */
.r0 
{
	background-color: #454545 !important;
	border-color: #333 #333 #000 !important;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .45) !important;
	outline: 0 !important;
	background-image: linear-gradient(to bottom,#474747 0,#2B2B2B 100%) !important;
	background-image: -moz-linear-gradient(top,#474747 0,#2B2B2B 100%) !important;
	background-image: -webkit-linear-gradient(top,#474747 0,#2B2B2B 100%) !important;
	background-image: -o-linear-gradient(top,#474747 0,#2B2B2B 100%) !important;
	background-image: -ms-linear-gradient(top,#474747 0,#2B2B2B 100%) !important;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorStr="#FF474747", endColorStr="#FF2B2B2B") !important;
	box-shadow: inset 0 1px 0 rgba(31, 31, 31, .45)) !important;
	-moz-box-shadow: inset 0 1px 0 rgba(31,31,31,.45) !important;
	-webkit-box-shadow: inset 0 1px 0 rgba(31,31,31,.45) !important;
	-ms-box-shadow: inset 0 1px 0 rgba(31,31,31,.45) !important;
	color: #ccc !important;
}

