$background: #1c1c1f;

$text-color: darken(white, 10%);
$text-x-darker-color: darken(white, 30%);
$text-xx-darker-color: darken(white, 50%);
$text-xxx-darker-color: darken(white, 70%);
$text-xxxx-darker-color: darken(white, 90%);

$heading-color: darken(white, 5%);

$menu-hover-background: darken(white, 40%);
$menu-hover-color: lighten(black, 5%);

$border-color: lighten($background, 10%);
