@import 'common';

[page-subtype="channels"] {
  #tabs-inner-container,
  #channel-header {
    background-color: lighten($background, 15%);
  }

  #channel-title, #label-text, .tab-content { color: $text-color; }

  #selectionBar { background-color: $text-color; }
}
