@import 'variables';
@import 'mixins';

ytd-masthead {
  background-color: lighten($background, 5%);

  &.ytd-masthead-1 {
    iron-icon { @include invert; }
  }
}

.ytd-active {
  &-account-header-renderer-0 {
    height: 88px;
  }
}

ytd-multi-page-menu-section-renderer,
.pager-item-0 {
  background: $background;
  border-color: $background;
}