@import 'common';

body,
ytd-app {
  background-color: $background;
  color: $text-color;
}

a,
yt-formatted-string {
  color: $text-color;
}

h1, h2, h3, h4, h5,
#title {
  color: $heading-color;
}

// Stuff that have white borders
ytd-compact-autoplay-renderer,
ytd-video-primary-info-renderer,
ytd-video-secondary-info-renderer,
yt-formatted-string,
ytd-item-section-renderer {
  border-color: $border-color;
}
