@import 'variables';
@import 'mixins';

#guide-content {
  background-color: lighten($background, 5%);

  @include labels { color: $text-color; }

  paper-icon-item:hover {
    background-color: $menu-hover-background;

    @include labels { color: $menu-hover-color; }
  }

  #header iron-icon { @include invert; }

  // Makes the icons the same color as the text
  iron-icon { color: inherit; }

  #header,
  .ytd-guide-renderer,
  #footer > * {
    border-color: $border-color;
  }
}
